<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46357465108-fqv49hqb2osqpcph59hpqaqp96d2ig4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46357465108-fqv49hqb2osqpcph59hpqaqp96d2ig4j</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Y70jnZ7YqZfqbRz92AHb7f-zOSY_e_I</string>
	<key>GCM_SENDER_ID</key>
	<string>46357465108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healer</string>
	<key>PROJECT_ID</key>
	<string>doctor-a0382</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-a0382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46357465108:ios:70c827515078448b977f01</string>
</dict>
</plist>